* {
    text-align: center;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary: rgb(76, 179, 211);
    --secondary: rgb(19, 122, 153);

    --text: white;

    --footer: rgb(41, 41, 41);
    --footer-text: white;

    --background: white;
}

/* Estrutura geral */

body {
    font-size: 18px;
    overflow: hidden;
    margin: 0px;
}

main {
    margin-top: 100px;
    background-color: var(--background);
}

/* Parte de Título da página */

.header {
    position: fixed;
    top: 0;
    text-align: center;
    padding-top: 10px;

    width:100%;

    background-color: var(--primary);
    color: var(--text);

    z-index: 5;
}

.headerlink {
    color: var(--text);
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
}

.headerlink:hover {
    background-color: var(--secondary);
}

header.header h1 {
    margin: 5px;
}

/* Parte de Baixo da página */

.footer {
    padding: 10px;
    background-color: var(--footer);
    color: var(--footer-text);
    width: 100%;
    text-align: center;
    overflow: hidden;
}

/* Flexbox - Principais Viagens */

.destaques {
    display: flex;
    flex-flow: row wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
    padding: 10px;
}

.destaques-item {
    list-style-type: none;
    padding: 40px;
    height: 350px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width:800px) {
    .destaques {
        padding: 40px;
    }
}

#australia {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url(/imagens/australia.png);
}

#italia {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url(/imagens/italia.jpg);
}

#franca {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url(/imagens/franca.jpg);
}

ul a{
    color: var(--text);
    text-decoration: none;
}

/*------------------------------*/