* {
  text-align: center;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary: #ee9b00;
  --secondary: #bb3e03;

  --text-white: #ffffff;
  --text-black: #001219;

  --footer: #001219;
  --footer-text: #ffffff;

  --background: #fefae0;
}

/* Estrutura geral */

body {
  font-size: 18px;
  overflow-x: hidden;
  margin: 0px;
  background-color: var(--footer);
  color: var(--text-black);
}

main {
  padding-top: 100px;
  background-color: var(--background);
}

@media screen and (min-width: 800px) {
  main {
    padding-left: 40px;
    padding-right: 40px;
  }
}

hr {
  height: 2px;
  width: 80%;
  color: var(--footer);
  background-color: var(--footer);
}

/* Parte de Título da página */

.header {
  position: fixed;
  top: 0;
  text-align: center;
  padding-top: 10px;

  width: 100%;

  background-color: var(--primary);
  color: var(--text-white);

  z-index: 5;
}

.headerlink {
  color: var(--text-white);
  padding-left: 2%;
  padding-right: 2%;
  text-decoration: none;
}

.headerlink:hover {
  background-color: var(--secondary);
  transition: background 0.2s ease;
}

header.header h1 {
  margin: 5px;
}

/* Parte de Baixo da página */

.footer {
  padding: 10px;
  background-color: var(--footer);
  color: var(--footer-text);
  width: 100%;
  text-align: center;
  overflow: hidden;
  min-height: 300px;
}

.footer a {
  color: var(--footer-text);
}

.footer a:hover {
  text-decoration: none;
}

.contatos {
  padding: 30px;
}

/* Conteúdo Principal das Páginas */

section.conteudo {
  margin: 15px;
}

/* Flexbox - Principais Viagens */

.destaques {
  display: flex;
  flex-flow: row wrap;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center;
  padding: 10px;
  margin: 0px;
}

.destaques-item {
  list-style-type: none;
  padding: 40px;
  margin-top: 10px;
  height: 280px;
  width: 150px;
  transition: 0.5s ease-in-out;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  overflow: hidden;
}

.destaques-item:hover {
  transform: translateY(-10px);
}

@media screen and (min-width: 800px) {
  .destaques {
    padding: 40px;
  }
}

#australia {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(imagens/australia.png);
}

#italia {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(imagens/italia.jpg);
}

#franca {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(imagens/franca.jpg);
}

ul a {
  color: var(--text-white);
  text-decoration: none;
  overflow: hidden;
}

li.destaques-item span {
  background-color: var(--secondary);
}

h4 span {
  padding-left: 10px;
  padding-right: 10px;
}

/*------------------------------*/

/* Galeria de Imagens */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
.gallery img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
